.background{
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.bg-sessao{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    scroll-snap-align: start;
}
#card-logo{
    height: 120px;
    width: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 30px;
}
#botao-menu{
    background-color: #0D242D;
    color: #fff;
    position: fixed;
    top: 30px;
    right: 30px;
}
.miniatura-home{
    width: 170px;
    height: 110px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms ease-out;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .7);
}
.miniatura-home:hover{
    transform: translateX(15px);
}
.mini-atual{
    transform: translateX(15px);
}
#container-miniaturas{
    display: flex;
    flex-direction: column;
    row-gap: 10px; 
    position: fixed;
    left: 30px;
    bottom: 30px;
}
#titulo{
    width: 400px;
    height: 90px;
    overflow: hidden;
    position: fixed;
    right: 30px;
    bottom: 0;
}
#slide-titulo{
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-out;
}
.item-titulo{
    background: linear-gradient(to right, #fff 50%, #0D242D 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    border-radius: 0;
    transition: all 0.4s ease-out;
    line-height: 90px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;
    text-align: end;
    padding: 0;
    white-space: nowrap;
    overflow: hidden; 
    max-width: 100%;
}
.item-titulo:hover{
    background-position: right bottom;
    color: #fff;
}
.item-titulo .bi{
    display: inline-block;
    width: 90px;
    background-color: #0D242D;
    color: #fff;
    text-align: center;
    margin-left: 40px;
}
#popup-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-out;
    transform: scale(100%, 0%);
    opacity: 0;
    overflow: hidden;
}
.menu-aberto{
    transform: scale(100%, 100%)!important;
    opacity: 1!important;
}
#container-menu{
    background-color: #fff;
}
#col-menu{
    height: 100vh;
}
#col-menu .nav-link{
    color: #0D242D;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 5em;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all .5s ease-out;
    line-height: 100%;
    padding-left: 0;
}
#col-menu .nav-link:hover{
    transform: translatex(15px);
}
#logo-menu{
    margin-bottom: 40px;
}
#fechar-menu{
    position: absolute;
    top: 15px;
    right: 15px;
}
.miniatura-menu{
    width: 30%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#miniaturas-menu{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.miniatura-menu img{
    height: 30vh;
    transition: all 500ms ease-out;
}
.miniatura-menu:hover img{
    transform: scale(110%);
}
#sobre{
    width: 100%;
    height: 100vh;
    position: relative;
}
#contatos{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.trans{
    transform: translateY(-100vh);
    transition: all 500ms ease-out;
}
p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#container-txt-sobre{
    background-color: #0D242D;
    padding: 30px;
    color: #fff;
    width: 50%;
    transform: translate(40px, 40px);
    font-size: 1.1em;
}
#img-sobre-mim-m{
    position: absolute;
    right: 8%;
    bottom: 0;
    height: 90vh;
}
#form-menu{
    width: 80%;
    max-height: 90%;
    overflow-y: auto;
    background-color: #0D242D;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.ou{
    text-align: center;
    margin: 30px;
}
.btn-whatsapp{
    background-color: #090;
    color: #fff;
    font-size: 1.2em;
}
.btn-whatsapp:hover{
    background-color: #fff;
    color: #090;
}
#whatsapp{
    display: flex;
    justify-content: center;
}

.post{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.post .cabecalho-post{
    margin-top: 60vh;
    padding: 50px;
}
.post .cabecalho-post h1{ 
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 6em;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
.post .conteudo-post{
    background-color: rgba(255,255,255,.8);
    backdrop-filter: blur(10px);
    padding: 50px;
    width: 100%;
}
.post .conteudo-post p{
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 70px;
}
.post .imagem-post{
    width: 100%;
    margin-bottom: 30px;
}
.post .rodape{
    background: linear-gradient(to top, rgba(13,36,45,.9) 50%, rgba(13,36,45,0) 100%);
}
.post .rodape .col-12{
    padding: 100px;
    justify-items: center;
    color: #fff;
}